<h2 mat-dialog-title>Modifier le groupe</h2>

<mat-dialog-content>
  <mat-form-field appearance="outline" class="name-field">
    <mat-label>Nom de le groupe</mat-label>
    <input matInput placeholder="Nom de le groupe..." [(ngModel)]="chatRoomName" [ngModelOptions]="{ standalone: true }" required />
  </mat-form-field>

  <div class="image-preview">
    <img [src]="imagePreview" alt="Avatar de le groupe">
  </div>

  <mat-form-field appearance="outline" class="image-field">
    <mat-label>Avatar de le groupe</mat-label>
    <input matInput placeholder="URL de l'avatar..." [(ngModel)]="chatRoomImage" (ngModelChange)="imagePreview = chatRoomImage || 'assets/default-group-avatar.png'" [ngModelOptions]="{ standalone: true }" />
  </mat-form-field>

  <mat-divider></mat-divider>

  <h3>Utilisateurs</h3>
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Rechercher un utilisateur à ajouter/retirer</mat-label>
    <input matInput #searchInput placeholder="Nom d'utilisateur..." (input)="onSearchTermChange($event)" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  @if (isLoading$ | async) {
  <div class="spinner-container">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  } @else if (error$ | async) {
  <p class="error-message">{{ error$ | async }}</p>
  } @else {
  <mat-selection-list class="user-list" #userSelectionList (selectionChange)="onSelectionChange($event)">
    @for (user of filteredUsers$ | async; track user._id) {
    <mat-list-option class="user-list-item" [value]="user" [selected]="isSelected(user)" [disabled]="user._id === roomCreatorId">
      <img matListItemAvatar [src]="user.image || 'assets/default-avatar.png'" [alt]="user.displayName" />
      <span matListItemTitle>{{ user.displayName }} {{ user._id === roomCreatorId ? '(Créateur)' : '' }}</span>
      <span matListItemLine>{{ user.username }}</span>
    </mat-list-option>
    <mat-divider></mat-divider>
    } @empty {
    <mat-list-item>
      <span>Aucun utilisateur (autre que le créateur) ne correspond à votre recherche ou n'est disponible.</span>
    </mat-list-item>
    }
  </mat-selection-list>
  }

  <mat-divider></mat-divider>

  <button mat-button color="warn" (click)="removeRoom()">Supprimer le groupe</button>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button (click)="confirmSelection()" [disabled]="!chatRoomName">
    Sauvegarder
  </button>
  <button mat-button (click)="closeDialog()">Annuler</button>
</mat-dialog-actions>
