<div class="auth-container">
  <div class="auth-card-wrapper">
    <mat-card class="auth-card">
      <mat-card-header>
        <mat-card-title>Connexion</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline">
            <mat-label for="username">Nom d'utilisateur</mat-label>
            <input matInput formControlName="username" name="username" placeholder="Entrez votre nom d'utilisateur" autocomplete="username">
            @if (loginForm.get('username')?.hasError('required')) {
              <mat-error>
                Le nom d'utilisateur est requis
              </mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label for="password">Mot de passe</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" name="password" placeholder="Entrez votre mot de passe">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
              <mat-icon [fontIcon]="hidePassword ? 'visibility_off' : 'visibility'"></mat-icon>
            </button>
            @if (loginForm.get('password')?.hasError('required')) {
              <mat-error>
                Le mot de passe est requis
              </mat-error>
            }
            @if (loginForm.get('password')?.hasError('minlength')) {
              <mat-error>
                Le mot de passe doit contenir au moins 6 caractères
              </mat-error>
            }
          </mat-form-field>

          <div class="form-actions">
            <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid || isLoading">
              @if (isLoading) {
                <mat-icon class="spinner" fontIcon="refresh"></mat-icon>
              }
              <span>Se connecter</span>
            </button>
          </div>
        </form>
      </mat-card-content>

      <mat-card-actions>
        <a mat-button routerLink="/auth/register">Créer un compte</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
