<mat-card class="chat-list-panel">
  <mat-toolbar class="chat-list-header">
    <span>Messagerie</span>
    <span class="spacer"></span>
    <button matIconButton (click)="openNewChatDialog()" aria-label="Nouvelle conversation">
      <mat-icon fontIcon="add_comment" class="toolbar-icon"></mat-icon>
    </button>
    <button matIconButton (click)="close()" aria-label="Fermer la liste">
      <mat-icon fontIcon="close" class="toolbar-icon"></mat-icon>
    </button>
  </mat-toolbar>

  <mat-card-content class="chat-room-list">
    <ng-scrollbar class="my-weather-scrollbar">
      <mat-list>
          @if (rooms.length === 0) {
            <mat-list-item>Aucune conversation</mat-list-item>
          } @else {
            @for (room of rooms; track room._id; let last = $last) {
              <mat-list-item lines="2" (click)="selectRoom(room)" class="chat-list-item" [class.has-unread]="room.unreadCount && room.unreadCount > 0">
                <img matListItemAvatar [src]="getRoomAvatar(room)" alt="Avatar" class="chat-room-avatar" />
                <span matListItemTitle>
                  @if (room.isChatBot) {
                    MoodBot
                  } @else {
                    {{ room.name }}
                  }
                </span>
                <span matListItemLine class="last-message">
                  @if (getLastMessagePreview(room).italic) {
                    <i>{{ getLastMessagePreview(room).text }}</i>
                  } @else {
                    {{ getLastMessagePreview(room).text | slice : 0 : 30 }}{{ (getLastMessagePreview(room).text.length || 0) > 30 ? "..." : "" }}
                  }
                </span>

                <div matListItemMeta class="room-meta">
                  <span class="timestamp">{{
                    room.lastMessage?.createdAt | date : "shortTime"
                  }}</span>
                  @if (room.unreadCount && room.unreadCount > 0) {
                    <mat-icon class="unread-indicator" class="text-error" matBadge="{{ room.unreadCount }}" matBadgeSize="small"
                    matBadgeOverlap="false">fiber_manual_record</mat-icon>
                  }
                </div>
              </mat-list-item>
              @if (!last) {
                <mat-divider></mat-divider>
              }
            }
          }
      </mat-list>
    </ng-scrollbar>
  </mat-card-content>
</mat-card>
