@use '@angular/material' as mat;

// src/app/features/chat/components/chat-list/chat-list.component.scss
:host {
  display: flex;
  flex-direction: column;
  height: 100%; // Prendre toute la hauteur du conteneur popup
}

.chat-list-header {
  flex-shrink: 0; // Empêcher le header de rétrécir

  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary),
      container-text-color: var(--mat-sys-on-primary),
    )
  );

  .spacer {
    flex: 1 1 auto;
  }

  .toolbar-icon {
    color: var(--mat-sys-on-primary);
  }
}

.chat-room-list {
  flex-grow: 1; // Prendre l'espace restant
  overflow-y: auto; // Activer le scroll si nécessaire
  padding-top: 0 !important; // Enlever le padding par défaut de mat-list
  background-color: var(--mat-sys-surface-container);

  @include mat.list-overrides((
    list-item-container-color: var(--mat-sys-surface-container),
    list-item-leading-icon-start-space: 12px,
  ));
}

.chat-list-item {
  cursor: pointer !important;
  &:hover {
    background-color: rgba(0, 0, 0, 0.14);
  }

  &.has-unread {
    font-weight: bold; // Indiquer les messages non lus
  }

  .chat-room-avatar {
    object-fit: cover;
  }

  .last-message {
    font-size: 0.9em;
    color: var(--mat-sys-on-surface);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .room-meta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 0.8em;
    color: var(--mat-sys-on-surface);
    text-align: right;
  }

  .unread-indicator {
    font-size: 12px; // Taille du point
    width: 12px;
    height: 12px;
    margin-top: 4px;
    // Alternative avec badge: positionner correctement le badge
    // position: relative;
    // .mat-badge-content { position: absolute; top: 5px; right: 5px; }
  }
}

mat-divider {
  margin: 0 16px; // Marge pour les séparateurs
}
