.search-field {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px; // Pour que le spinner soit visible
}

.error-message {
  color: var(--mat-sys-error);
  text-align: center;
  padding: 20px;
}

.user-list {
  max-height: 400px; // Limiter la hauteur et activer le scroll
  overflow-y: auto;
  margin-bottom: 15px;
}

.user-list-item {
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.name-field,
.image-field {
  width: 100%;
  margin-bottom: 15px;
}

.image-preview {
  width: 100%;
  text-align: center;

  img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 200px; // Limiter la hauteur de l'image
    object-fit: cover; // Pour garder le ratio de l'image
  }
}

mat-divider {
  margin: 0 16px;
}
