.games-container {
  width: 100%;
  height: 100%;
  padding: 20px;

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    transition: opacity 0.5s ease-in-out;
    width: 100%;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    &.hide {
      opacity: 0;
      pointer-events: none;
    }
  }

  .game-card {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    border-radius: 15px;
    color: var(--mat-sys-on-surface);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background: var(--mat-sys-surface);
    min-height: 200px;

    &:hover {
      background: var(--mat-sys-surface-variant);
      box-shadow: var(--mat-sys-level5);
    }
  }

  // .tic-tac-toe {
  //   background: var(--mat-sys-surface);
  // }

  // .pong {
  //   background: var(--mat-sys-surface);
  // }
}
