<!-- <div class="emoji-picker">
  <div class="picker-actions">
    <button class="emoji-picker-close-btn" type="button" (click)="close.emit()" title="Fermer">×</button>
    <input type="text" [(ngModel)]="search" placeholder="Rechercher un emoji..." class="emoji-search-input" />
  </div>
  <div class="emoji-list">
    @for (item of filteredEmojis(); track item.emoji) {
    <button (click)="selectEmoji(item.emoji)" class="emoji-button" [title]="item.name">{{item.emoji}}</button>
    }
  </div>
</div> -->

<emoji-mart (emojiSelect)="selectEmoji($event)" [darkMode]="false" [i18n]="emoji18n"></emoji-mart>
