.emoji-picker {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px #ccc;
  padding: 10px;
}
.picker-actions {
  display: flex;
  align-items: center;
  gap: 5px;

  .emoji-picker-close-btn {
    cursor: pointer;
  }
}
.emoji-search-input {
  flex-grow: 1;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #bbb;
}
.emoji-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  max-height: 220px;
  overflow-y: auto;
}
.emoji-button {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
.emoji-button:hover {
  background: #eee;
  border-radius: 4px;
}
