:host {
  display: contents;
}

.avatar-container {
  position: relative;
  display: inline-block;
  border-radius: 50%;

  .avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .avatar-frame {
    position: absolute;
    top: -10%;
    left: -10%;
    width: calc(100% + 20%);
    height: calc(100% + 20%);
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
  }

  &.with-frame {
    .avatar-image {
      width: calc(100% - 20%);
      height: calc(100% - 20%);
      margin-top: 10%;
      margin-left: 10%;
    }
  }
}
