.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.preview-container {
  margin-top: 10px;
  text-align: center;

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .preview-image {
    max-width: 100%;
    max-height: 150px;
    object-fit: contain;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
  }
}
