.game-container {
  width: 100%;
  height: 100%;

  .game-opponents {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .game-opponent {
      font: small-caps bold 1.2rem sans-serif
    }
  }

  .game-canvas-container {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .game-canvas {
      background-color: var(--mat-sys-surface-dim);
    }

    .drag-zone {
      position: absolute;
      border: 2px dashed rgba(255, 255, 255, 0.5);
      border-radius: 4px;
      cursor: grab;
      touch-action: none; // Prevent scrolling while dragging

      &.dragging {
        border: none;
        cursor: grabbing;
      }
    }
  }

  .game-actions {
    text-align: center;
  }
}
