@use '@angular/material' as mat;

.polls-container {
  padding: 15px;

  .polls-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .polls-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

    @include mat.form-field-overrides(
      (
        container-height: 48px,
        container-vertical-padding: 12px,
      )
    );
  }

  .loading,
  .error,
  .no-polls {
    text-align: center;
    padding: 20px;
    font-style: italic;
  }

  .error {
    color: var(--mat-sys-error);
  }

  .polls-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 5px;

    .poll-item {
      border: 1px solid var(--mat-sys-outline-variant);
      border-radius: 5px;
      padding: 15px;
      margin-bottom: 15px;
      background-color: var(--mat-sys-surface-container-low);
      cursor: pointer;
      transition: box-shadow 0.2s ease-in-out;

      &:hover {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }

      h3 {
        margin-top: 0;
        margin-bottom: 5px;
      }

      .poll-meta {
        font-size: 0.85em;
        color: var(--mat-sys-on-surface-variant);
        margin-bottom: 15px;
      }

      .top-options-preview {
        h4 {
          margin-bottom: 8px;
          font-size: 0.9em;
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            margin-bottom: 5px;

            .option-bar {
              background-color: var(--mat-sys-surface-container-lowest);
              border-radius: 3px;
              overflow: hidden;
              position: relative;
              height: 20px; /* Hauteur de la barre */
              line-height: 20px; /* Centre le texte verticalement */

              .option-progress {
                background-color: var(--mat-sys-primary-container); /* Couleur de la barre de progression */
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
                transition: width 0.3s ease-in-out; /* Animation douce */
              }

              .option-text {
                position: relative; /* Pour être au-dessus de la progression */
                z-index: 2;
                padding-left: 5px;
                font-size: 0.8em;
                color: var(--mat-sys-on-surface); /* Couleur du texte */
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; /* Ajoute ... si le texte est trop long */
              }
            }
          }
        }
      }

      .no-votes-yet {
        font-size: 0.9em;
        color: var(--mat-sys-outline);
        margin-top: 10px;
      }
    }
  }
}
