// Palette sombre douce & feutrée
@use 'sass:map';
@use '@angular/material' as mat;

$_palettes: (
  primary: (
    0: #000000,
    10: #0b1f23,
    20: #123036,
    25: #163a41,
    30: #1c454d,
    35: #21505a,
    40: #275b67,
    50: #337282,
    60: #448b9e,
    70: #5aa6ba,
    80: #7ac3d7,
    90: #a0e0f3,
    95: #c5f0ff,
    98: #eafaff,
    99: #f4fdff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #141e1c,
    20: #25312e,
    25: #2f3b39,
    30: #394643,
    35: #44504e,
    40: #4f5b59,
    50: #66726f,
    60: #7f8b89,
    70: #99a6a3,
    80: #b4c1bf,
    90: #d0dddb,
    95: #e5f2f0,
    98: #f2f9f8,
    99: #f8fcfb,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #1d1620,
    20: #302634,
    25: #3b2f40,
    30: #46384b,
    35: #514257,
    40: #5d4d63,
    50: #75627b,
    60: #8f7a95,
    70: #aa95b0,
    80: #c6b0cc,
    90: #e2cce9,
    95: #f3e4fa,
    98: #fbf4ff,
    99: #fefaff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    4: #0a0b0c,
    6: #101112,
    10: #161718,
    12: #1c1d1e,
    17: #262728,
    20: #2a2b2c,
    22: #2f3031,
    24: #343536,
    25: #373839,
    30: #414243,
    35: #4c4d4e,
    40: #575859,
    50: #6e6f70,
    60: #88898a,
    70: #a2a3a4,
    80: #bdbebf,
    87: #cfd0d1,
    90: #dadbdc,
    92: #e1e2e3,
    94: #e8e9ea,
    95: #ecedee,
    96: #f1f2f3,
    98: #f7f8f9,
    99: #fbfcfd,
    100: #ffffff,
  ),
  neutral-variant: (
    0: #000000,
    10: #191c1d,
    20: #2e3132,
    25: #393c3d,
    30: #444748,
    35: #4f5253,
    40: #5b5e5f,
    50: #727576,
    60: #8b8e8f,
    70: #a5a8a9,
    80: #c0c3c4,
    90: #dce0e1,
    95: #ebeff0,
    98: #f4f7f8,
    99: #f9fbfc,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #2a0000,
    20: #4a0000,
    25: #5c0000,
    30: #6e0000,
    35: #820000,
    40: #970000,
    50: #b02e25,
    60: #cb4a41,
    70: #e76b63,
    80: #ffaba2,
    90: #ffdad6,
    95: #ffecea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

// Remap pour Material 3
$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);
