@use "@angular/material" as mat;
@use "src/theme/theming" as theming;

@import "https://fonts.googleapis.com/icon?family=Material+Icons";

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  @include theming.apply-light-theme;

  body {
    background-color: var(--mat-sys-surface-container-lowest);
    color: var(--mat-sys-on-surface);
    font-family: Roboto, "Helvetica Neue", sans-serif;

    &.dark-mode {
      @include theming.apply-dark-theme;
    }

    h1 {
      font: var(--mat-sys-headline-large);
    }

    h2 {
      font: var(--mat-sys-headline-medium);
    }
  }
}

html,
body {
  height: 100%;
}

.mat-mdc-menu-content {
  min-width: 250px;
}
