@use "@angular/material" as mat;

@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  height: 100%;
  background: linear-gradient(135deg, #e0f7fa 0%, #b2ebf2 100%);
  position: relative;
  overflow: hidden;

  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 150%;
    height: 150%;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 70%
    );
    top: -25%;
    left: -25%;
    animation: rotate 20s infinite linear;
  }
}

html {
  height: 100%;
}

.mat-mdc-menu-content {
  min-width: 250px;
}
