@use "@angular/material" as mat;
@use "src/theme/theming" as theming;

@import "https://fonts.googleapis.com/icon?family=Material+Icons";

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  @include theming.apply-light-theme;

  body {
    background-color: var(--mat-sys-surface-container-lowest);
    color: var(--mat-sys-on-surface);
    font-family: Roboto, "Helvetica Neue", sans-serif;

    &.dark-mode {
      @include theming.apply-dark-theme;
    }

    h1 {
      font: var(--mat-sys-headline-large);
    }

    h2 {
      font: var(--mat-sys-headline-medium);
    }
  }
}

html,
body {
  height: 100%;
}

.mat-mdc-menu-content {
  min-width: 250px;
}

.my-weather-scrollbar {
  --scrollbar-thickness: 8;
  --scrollbar-offset: 2;
  --scrollbar-border-radius: 4px;
  --scrollbar-thumb-color: var(--mat-sys-outline-variant);
  --scrollbar-thumb-hover-color: var(--mat-sys-outline);
}

// Styles pour le dialogue MatDialog lui-même pour qu'il prenne tout l'écran
.full-screen-media-dialog {
  @include mat.dialog-overrides(
    (
      container-max-width: 100vw,
      container-small-max-width: 100vw,
      content-padding: 0,
    )
  );
  max-height: 100vh;
  .mat-mdc-dialog-container {
    padding: 0 !important;
    border-radius: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
    max-width: 100vw !important;
    max-height: 100vh !important;
    width: 100vw !important;
    height: 100vh !important;
  }
}
